html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    123deg,
    #ffeb3bcc -3%,
    #1f03f4 92%,
    rgba(31, 188, 189, 0.4514180672268907) 100%
  );
}

/* Aggiungi stile al container principale */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search {
  background-color: #ece8e846;

  border-radius: 5px;
}

/* Stile per la barra di ricerca */
.searcher-container {
  display: flex;
  align-items: center;
}

.searcher {
  border-radius: 5px;
  height: 34px;
  width: 175px;
  font-size: medium;
  margin-right: 10px;
}

/* Stile per la lista delle opzioni */
.options-list {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 100%;
  max-width: 60%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.show-options .options-list {
  display: block;
}

.options-list li {
  /*  padding: 0.3em; */
  padding-left: 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottoneNome {
  border: none;
  cursor: pointer;
  margin-right: 3em;
  width: 100%;
}

.bottoneNome:hover {
  border: 1px solid purple;
  transform: scale(1);
  box-shadow: 1px 1px 1px 1px purple;
}

/* Stile per il bottone */
.bottone {
  background-color: purple !important;
  margin-top: 10px;
}

/* Stile per il container dei risultati */
.results-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORECAST COMPONENT */
.forecastBox {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #cccccc57;
}

.country {
  color: rgba(49, 49, 49, 0.537);
  font-weight: thin;
  margin-left: 15px;
}

.miniBox {
  width: 200px;
  height: 175px;
  background-color: #ece8e872;
  color: black;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px whitesmoke;
}
.imgs,
.piccolo {
  font-size: smaller;
}

.tail {
  width: 200px;
  height: 175px;
  background-color: rgba(240, 255, 255, 0.225);
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
