html,
#root,
body {
  background: linear-gradient(
    123deg,
    #ffeb3bcc -3%,
    #1f03f4 92%,
    rgba(31, 188, 189, 0.4514180672268907) 100%
  );
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.smaller {
  font-size: large;
}
h2 {
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 1.2px;
}
.bold {
  font: bolder;
  color: purple;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
.searcher {
  border-radius: 5px;
  height: 25px;
}
.container {
  font-size: xx-large;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.18);
  color: black;
  height: 50%;
  width: 50%;
  padding: 30px;
}

.searcher {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 36px;
  font-size: medium;
  font-style: italic;
}

.bottone {
  background-color: purple !important;
}
