#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    123deg,
    #ffeb3bcc -3%,
    #1f03f4 92%,
    rgba(31, 188, 189, 0.4514180672268907) 100%
  );
}

/* Aggiungi stile al container principale */
.main {
  min-width: 100%;
}

.bold {
  font-weight: bold;
  color: purple;
}

.purple {
  color: purple;
}
.searchPag {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  height: 50%;
  background-color: #ece8e846;
  border-radius: 5px;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stile per la barra di ricerca */
.searcher-container {
  display: flex;
  align-items: center;
}

.searcher {
  border-radius: 5px;
  height: 34px;
  min-width: 175px;
  font-size: medium;
}

/* Stile per la lista delle opzioni */
.options-list {
  width: 100%;
  max-width: fit-content;
  top: -4px;
  left: 1px;
  position: relative;
  background-color: white;
  /*  border: 1px solid #ccc; */
  border: 1px solid purple;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.show-options .options-list {
  display: block;
}

.options-list li {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bottoneNome {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 5.5px;
}

.bottoneNome:hover {
  border: 1px solid purple;
  transform: scale(1);
  box-shadow: 1px 1px 1px 1px purple;
}

/* Stile per il bottone */
.bottone {
  background-color: purple !important;
}

/* Stile per il container dei risultati */

/* FORECAST COMPONENT */
.rigaImg {
  min-width: 100%;
}
.country {
  color: rgba(49, 49, 49, 0.537);
  font-weight: thin;
  margin-left: 15px;
}

.container-scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.miniBox {
  width: 8em;
  height: 175px;
  background-color: #ece8e872;
  color: black;
  border-radius: 5px;
}

.imgs {
  display: block;
  margin-bottom: 5px;
}

.piccolo {
  font-size: smaller;
  text-align: center;
}
.tail {
  width: 8em;
  height: 200px;
  background-color: rgba(240, 255, 255, 0.225);
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
